*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    box-shadow: 1px 0px 8px black;
    padding: 6px 4px;
}
.main{
    padding: 10px 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 20px;
}
label{
    display: flex;
    flex-direction: column;
    gap: 2px;
}
label > input {
    font-size: 18px;
    padding: 7px;
    border-radius: 6px;
    width: 100%;
    border: 1px solid gray;
}
  p{
    color: red;
}
.innerButt{
    background-color: cadetblue;
     font-size: 18px;
    padding: 7px;
    border-radius: 6px;
    width: 100%;
    border: none;
    color: white;
}
.butt {
    padding: 7px;
    background-color: purple;
    border: none;
    padding: 7px 12px;
    font-size: 18px;
    font-weight: bolder;
    color: white;
    border-radius: 6px;
    margin-left:8px ;
}


