*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:20px;
    width: 50%;
    height: 300px;
    position: absolute;
    padding: 8px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 2px 2px 20px black;
    border-radius: 10px;
}
label{
    display: flex;
    flex-direction: column;
   
}
label > input, button{
    padding: 13px;
    border: none;
    border-radius: 8px;

}
input{
    background-color: rgb(218, 208, 208);
}
button{
    background-color: steelblue;
    color: #fff;
}