*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.subsec{
    text-transform: uppercase;
}
h1{
    text-align: center;
    color: #6a5acd;
    text-decoration: underline;
}
form{
    background-color: #6a5acd;
    color: white;
    width: 70%;
    margin: auto;
    margin-top: 20px;
    padding: 20px 0;
}
.mainsec{
    padding: 10px 5px;
    /* width: 60%; */
    display: flex;
    align-items: center;
   column-gap: 30px;
   
   
    
}







input{
    border-radius: 6px;
    border: 1px solid gray;
    padding: 5px;
    
}
button{
    padding: 5px 8px;
    border-radius: 5px;
    border: none;
    
   font-weight: 640;
    cursor: pointer;

}
td input {
    width: 40px;
    box-sizing: border-box;
}
table {
    table-layout: fixed;
    width: 100%;
}
td input {
    width: fit-content;
    max-width: 100%;
}